section.darkened {
    background-color: rgb(15, 15, 15);
}

a {
    font-size: 12px;
}

a>img {
    width: 20%;
    color: black;
    /* background-color: blanchedalmond; */
}

.apple-head {
    /* width: 45%; */
}